body {
    font-family: Poppins;
    justify-content: center;
    background-color: rgb(37, 150, 190);
}

#navbar h1 {
    margin-left: 10px;
    font-style: italic;
}

.border {
    width: 70vw;
}

.container {
    display: none;
}

#viewbox {
    position: relative;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 20vh;
    left: 12vw;
    background: transparent;
    border: 3px solid white;
    width: 76vw;
    height: 70vh;
    padding: 20px;
    box-sizing: border-box;
}

#title {
    padding-top: 50px;
    color: white;
    font-weight: lighter;
}

hr {
    margin-bottom: 100px;
}

#box {
    display: flex;
    height: 25vw;
    width: 25vw;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

#box button {
    height: 25vw;
    width: 25vw;
    border-radius: 5%;
    background: transparent;
}

.viewimg {
    filter: invert(100%);
    height: 20vh;
}

.uploadimg {
    filter: invert(100%);
    height: 20vh;
}

.backbtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dt{
    color: lightskyblue;
    margin-left: 10px;
}

.logbtn {
    position: absolute;
    right: 0;
    margin-top: 5px;
    background: transparent;
    border-radius: 5px;
    color: lightskyblue;
    width: 150px;
    height: 50px;
    font-style: italic;
    font-size: 30px;
    border: none;
}

#navbar {
    margin-top: 1em;
    justify-content: space-between;
}

#navbar .btn {
    margin-right: 10px;
    background-color: #57CC99;
    border-style: none;
    border-radius: .5em;
    padding-bottom: 2em;
    height: 50%;
}

#navbar .btn:hover {
    background-color: #225675;
}

#choosefilelbl {
    font-family: Poppins;
    font-style: italic;
    font-size: 40px;
}

#table {
    width: 95%;
    margin: 40px 40px 20px 40px;
}

.icon {
    width: 30px;
    height: 30px;
}

#download {
    margin-left: 20px;
}

#delete {
    margin-left: 10px;
}

#btn {
    width: 80px;
    height: 40px;
    font-size: 30px;
    background-color: #57CC99;
}
