body{
    justify-content: center;
    background-color: rgb(37, 150, 190);
}
.border{
    width: 70vw;
}
.container{
    display: none;
}
#viewbox{
    position: relative;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 20vh;
    left: 12vw;
    background: transparent;
    border: 3px solid white;
    width: 76vw;
    height: 70vh;
    padding: 20px;
    box-sizing: border-box;
}
#title{
    padding-top: 50px;
    color: white;
    font-weight: lighter;
}
hr{
    margin-bottom: 100px;
}
#box{
    display: flex;
    height: 25vw;
    width: 25vw;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
#box button{
    height: 25vw;
    width: 25vw;
    border-radius: 5%;
    background: transparent;
}
.viewimg{
    filter: invert(100%);
    height: 20vh;
}
.uploadimg{
    filter: invert(100%);
    height: 20vh;
}
.backbtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
