* {
    background-color: rgb(37, 150, 190);
}

html,
body {
    height: 100%;
    background-color: dimgray !important;
}

.global {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.login-form {
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: transparent !important;
    border-radius: 20px !important;
    border: 2px solid #225675;
}

input[type="email"],
input[type="password"] {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    margin: 0;
}

.card-title {
    font-weight: 200;
    padding-top: 60px;
}

.btn {
    background: #225675;
    color: white !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 5px !important;
}
